/* General Styling */
.transactions-container {
  width: 70%;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-left: 350px;
}

/* Search & Filter */
.search-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-filter h2 {
  font-size: 24px;
  color: #0C1415;
  font-weight: bold;
}

.search-filter-box {
  display: flex;
  gap: 10px;
}

.search-filter-box input, 
.search-filter-box select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Tabs */
.tabs {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.tabs button {
  width: 50%;
  text-align: center;
  padding: 15px 0;
  font-size: 18px; 
  font-weight: bold;
  background: none;
  border: none;
  color: #707F81;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

.tabs button.active-tab {
  border-bottom-color: #3C5A5D;
  color: #3C5A5D;
  font-weight: bold;
}

.tabs button:not(.active-tab) {
  background-color: #f6f6f6;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  background: white;

}

th, td {
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #0C1415;
  padding: 8px 10px;
  
}
td {
  font-size: small;
}

/* Table Header Styling */
th {
  background: #3C5A5D;
  color: #f6f6f6;
  padding: 10px 12px; 
}

/* Runner Info */
.runner-info {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.runner-img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #ddd;
}

/* Pay Button Styling */
.pay-btn-active {
  background: #3C5A5D;
  color: #f6f6f6;
 width: 50%;
  border: none;
  border-radius: 6px; 
  cursor: pointer;
}

.pay-btn-disabled {
  background: #f6f6f6;
  color: #3C5A5D;
  width: 50%;
  border: none;
  border-radius: 6px; 
  cursor: not-allowed;
}
