<div class="sidebar">
    <div class="logo">
      <img src="path-to-your-logo.png" alt="Logo">
      <h2>EasyErrands</h2>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" aria-controls="dashboardSubmenu">
          <i class="fas fa-tachometer-alt"></i>
          Dashboard
        </a>
        <ul class="collapse list-unstyled" id="dashboardSubmenu">
          <li>
            <a class="nav-link pl-4" href="#">Open Transaction</a>
          </li>
          <li>
            <a class="nav-link pl-4" href="#">Closed Transaction</a>
          </li>
          <li>
            <a class="nav-link pl-4" href="#">Orders History</a>
          </li>
          <li>
            <a class="nav-link pl-4" href="#">Complaints</a>
          </li>
          <li>
            <a class="nav-link pl-4" href="#">Total Earnings</a>
          </li>
          <li>
            <a class="nav-link pl-4" href="#" data-toggle="collapse" aria-expanded="false" aria-controls="runnersSubmenu">
              Runners
            </a>
            <ul class="collapse list-unstyled" id="runnersSubmenu">
              <li><a class="nav-link pl-5" href="#">Pending Runner</a></li>
              <li><a class="nav-link pl-5" href="#">Approved Runner</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  
  
