<div class="container">
  <div class="sidebar">
    <img src="logo.png" alt="EasyErrands" class="img-fluid" [routerLink]="['/dashboard']"
      routerLinkActive="router-link-active">
    <nav>
      <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/transactions">Transactions</a></li>
        <li><a href="/orders">Orders</a></li>
        <li><a href="/complaints">Complaints</a></li>
        <li><a href="/earnings">Total Earnings</a></li>
        <li><a href="/runners">Runners</a></li>
      </ul>
    </nav>
  </div>
</div>