<div class="transactions-container">
    <!-- Search & Filter Section -->
    <div class="search-filter">
        <h2>Orders History</h2>
    </div>
    <app-side-bar></app-side-bar>
    <table>
        <thead>
            <tr>
                <th>Runner</th>
                <th>Order Number</th>
                <th>Buyer</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td>
                    <div class="runner-info">
                        <img [src]="order.profile" alt="Runner" class="runner-img" />
                        {{ order.runner }}
                    </div>
                </td>
                <td>{{ order.orderNumber}}</td>
                <td>{{ order.buyer }}</td>
                <td>{{ order.date }}</td>
                <td>{{order.status}}</td>
            </tr>
        </tbody>
    </table>

</div>