<div class="dashboard-container">
    <div class="dashboard-content">
        <div class="dashboard-card" routerLink="/home/transaction" routerLinkActive="router-link-active" >
            <div class="card-header">
                <span class="card-title">7</span>
                <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/37/FFFFFF/folder-invoices--v1.png"
                    alt="folder-invoices--v1" />
            </div>
            <div class="card-body">
                Transactions
            </div>
        </div>

        <div class="dashboard-card" routerLink="/home/runners" routerLinkActive="router-link-active">
            <div class="card-header">
                <span class="card-title">7</span>
                <img width="30" height="30" src="https://img.icons8.com/ios/30/FFFFFF/parse-resumes.png"
                    alt="parse-resumes" />
            </div>
            <div class="card-body">
                Runners
            </div>
        </div>

        <div class="dashboard-card" routerLink="/orders" routerLinkActive="router-link-active">
            <div class="card-header">
                <span class="card-title">5</span>
                <img width="30" height="30" src="https://img.icons8.com/deco-glyph/30/FFFFFF/purchase-order.png"
                    alt="purchase-order" />
            </div>
            <div class="card-body">
                Orders History
            </div>
        </div>
        <div class="dashboard-card" routerLink="/home/total-earnings" routerLinkActive="router-link-active">
            <div class="card-header">
                <span class="card-title">14</span>
                <img width="30" height="30" src="https://img.icons8.com/ios-filled/30/FFFFFF/money-bag.png"
                    alt="money-bag" />
            </div>
            <div class="card-body">
                Total Earnings
            </div>
        </div>
        <div class="dashboard-card" routerLink="/home/complaints" routerLinkActive="router-link-active">
            <div class="card-header">
                <span class="card-title">4</span>
                <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/complaints.png"
                    alt="complaints" />
            </div>
            <div class="card-body">
                Complaints
            </div>
        </div>


    </div>
</div>